<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMKG_DataSafe_2.Properties.Settings.datastasiunConnectionString"
            connectionString="Data Source=DESKTOP-1UAI1DD\SQLEXPRESS;Initial Catalog=datastasiun;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>